absl-py==0.11.0
astunparse==1.6.3
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.4
branca==0.3.1
cached-property==1.5.2
cachetools==4.1.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cycler==0.10.0
distlib==0.3.4
easygui==0.98.2
filelock==3.7.1
Flask==1.1.2
folium==0.10.1
future==0.17.1
gast==0.3.3
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googletrans==3.0.0
grpcio==1.34.0
gspread==5.8.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httplib2==0.22.0
httpx==0.13.3
hyperframe==5.2.0
idna==2.8
imageio==2.9.0
importlib-metadata==3.1.1
iniconfig==1.1.1
iso8601==1.1.0
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.17.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
nltk==3.5
numpy==1.19.3
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==23.0
pandas==1.1.3
patsy==0.5.3
Pillow==8.0.1
platformdirs==2.5.2
pluggy==0.13.1
protobuf==3.14.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pygame==2.0.1
pyglet==1.3.2
PyJWT==1.7.1
pyparsing==2.4.7
pyserial==3.5
pytest==6.2.4
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
regex==2020.11.13
requests==2.22.0
requests-oauthlib==1.3.0
rfc3986==1.5.0
rsa==4.6
schedule==1.2.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.0
selenium==3.141.0
serial==0.0.97
six==1.13.0
sklearn==0.0
sniffio==1.2.0
statsmodels==0.13.5
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
textblob==0.15.3
tflearn==0.5.0
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.54.0
twilio==6.44.1
urllib3==1.25.7
virtualenv==20.15.1
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
